n8n-workflows/cp1M3Qbgm9nIbE1M.json
{"createdAt":"2025-11-11T16:53:48.268Z","updatedAt":"2025-11-18T17:11:46.000Z","id":"cp1M3Qbgm9nIbE1M","name":"Demo 1","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","hasOutputParser":true,"options":{"systemMessage":"You are Clippy, a new IT Administrator for Pratham. Your sole responsibility is to ensure the website at http://192.168.0.100:8090/ is operational.\n\nCRITICAL PERMISSION RULES:\n- You MUST request EXPLICIT APPROVAL before running ANY command that could modify the system\n- This includes but is not limited to: docker start, docker stop, docker run, docker rm, kill, pkill, systemctl, or any command that creates, modifies, or deletes files\n- Even diagnostic commands like docker ps, netstat, or ps are fine without permission\n- When in doubt, ASK FIRST\n\nYou are a Docker expert. You know everything about Docker and common issues that prevent containers from running properly. In our environment, we have a web server that should be running inside a Docker container called \"website\" on port 8090.\n\nWhen asked if the website is up, follow these systematic troubleshooting steps:\n\n1. First, check if the website is accessible using the HTTP tool\n\n2. The website is operational ONLY if it returns HTML containing: <h1>Here is the site running on Rasberry Pi</h1>\n\n3. If the website is down, investigate systematically:\n   - Check if the container exists and its current state\n   - Check what's currently using port 8090 (could be another process)\n   - Look for any error messages or logs\n   - Identify the root cause before attempting any fix\n\n4. Once you've identified the issue, explain what you found and request permission for the specific fix needed\n\n5. Only after receiving explicit approval, apply the necessary fix to restore the website\n\nRemember: Always investigate thoroughly before proposing solutions. Something else might be using the port.\n\nREQUIRED OUTPUT FORMAT:\nYou MUST always respond with a JSON object in this exact format:\n{\n    \"website_up\": true/false,\n    \"message\": \"Detailed explanation of status and any actions taken\",\n    \"applied_fix\": true/false,\n    \"needs_approval\": true/false,\n    \"commands_requested\": \"Specific commands needing approval (null if none)\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[648,-8],"id":"cfd9da54-a40b-4657-824a-25ecb32a7cec","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[464,216],"id":"84e0a300-1cff-4530-8729-a2e6ee8b7c3e","name":"Gemini","credentials":{"googlePalmApi":{"id":"U6g9wnVNaeIv0x8K","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chatid }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[592,216],"id":"1ede4966-635e-4180-81ea-b13ac1440ca6","name":"Memory"},{"parameters":{"toolDescription":"Use this tool to check if the website is up and if it return <h1>Here is the site running on Rasberry Pi</h1>. This makes an HTTP request and returns the response. data","url":"http://192.168.0.191:8090","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[720,216],"id":"435609c4-ba2d-4536-9538-e17baa20bade","name":"Website Tool"},{"parameters":{"workflowId":{"__rl":true,"value":"K6i5IYMKH2Ev0p8O","mode":"list","cachedResultUrl":"/workflow/K6i5IYMKH2Ev0p8O","cachedResultName":"SSH_HOST"},"workflowInputs":{"mappingMode":"defineBelow","value":{"command":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('command', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"command","displayName":"command","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[848,216],"id":"fcceee5d-7d6d-4cb0-b0db-165f6ec59562","name":"CLI TOOL"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[16,-8],"id":"cf003644-994e-4b4d-a3b1-38be3160e485","name":"Schedule Trigger"},{"parameters":{"jsonSchemaExample":"{\n  \"website_up\": true,\n  \"message\": \"Detailed explanation of status and any actions taken\",\n  \"applied_fix\": true,\n  \"needs_approval\": true,\n  \"commands_requested\": \"Specific commands needing approval (null if none)\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[976,216],"id":"98d20088-84e9-49e2-9e15-e4372d518597","name":"Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1056,424],"id":"e5c2b2c1-d8b4-4b98-aba9-03c744a747e7","name":"Gemini flash","credentials":{"googlePalmApi":{"id":"U6g9wnVNaeIv0x8K","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"sendAndWait","chatId":"=5263818655","message":"=WEBSITE UP:  {{ $('AI Agent').item.json.output.website_up }}\n\nMESSAGE: {{ $('AI Agent').item.json.output.message }}\n\nAPPLIED FIX: {{ $('AI Agent').item.json.output.applied_fix }}\n\nNEEDS APPROVAL: {{ $('AI Agent').item.json.output.needs_approval }}\n\nCOMMANDS REQUESTED: {{ $('AI Agent').item.json.output.commands_requested }}","approvalOptions":{"values":{"approvalType":"double"}},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1568,-96],"id":"9f06cc80-910e-4c5d-a359-5fe24e7e0d64","name":"Approval Message","webhookId":"fd65348e-007a-48d0-8e1c-579f6abb1ee7","credentials":{"telegramApi":{"id":"ER2DcEjYCLiEk2Mh","name":"Telegram account"}}},{"parameters":{"chatId":"=5263818655","text":"=WEBSITE UP: {{ $('AI Agent').item.json.output.website_up }}\n\nMESSAGE: {{ $('AI Agent').item.json.output.message }}\n\nAPPLIED FIX: {{ $('AI Agent').item.json.output.applied_fix }}\n\nNEEDS APPROVAL: {{ $('AI Agent').item.json.output.needs_approval }}\n\nCOMMANDS REQUESTED: {{ $('AI Agent').item.json.output.commands_requested }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1792,112],"id":"53899fd9-4c0a-45d6-99f9-43c7d1b3df7e","name":"Message","webhookId":"fd65348e-007a-48d0-8e1c-579f6abb1ee7","credentials":{"telegramApi":{"id":"ER2DcEjYCLiEk2Mh","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0a7cb013-29e9-4a81-9f4e-48b58ec3b22b","leftValue":"={{ $json.output.needs_approval }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1344,-88],"id":"2844a051-7096-4681-b661-1a060b27a8da","name":"Check Approval"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('AI Agent').item.json.output.applied_fix }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"50e0f6e9-415f-4c5c-b9e3-69002ac1be5e"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"550e8538-b576-4a01-aa23-59368d1a1c60","leftValue":"={{ $json.output.website_up }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d73b7d1f-3442-4cb5-ab98-3506045d480d","leftValue":"={{ $json.output.website_up }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1568,96],"id":"753433f5-2a0e-4572-b02a-3bb663c70bbb","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"46897b69-5404-42dc-a8f5-cac8c899fc81","name":"prompt","value":"Check if the website is up and if down trouble shoot it","type":"string"},{"id":"de2bb3fd-bfb7-4417-8f55-63c698d8158a","name":"chatid","value":"={{ $json.timestamp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,-8],"id":"9a523423-18c6-4156-8ef0-6607fc5af2cc","name":"Prompt and ChatId"},{"parameters":{"assignments":{"assignments":[{"id":"22dbe977-b0e2-418c-8778-908391f752fb","name":"prompt","value":"={{ $json.data.approved }}","type":"string"},{"id":"d3874c82-22fe-43e7-948b-dda96c1c8d10","name":"chatid","value":"={{ $('Prompt and ChatId').item.json.chatid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1792,-96],"id":"8b01b036-6566-41f0-99e0-2700b561e24c","name":"Edit Fields"}],"connections":{"Gemini":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Website Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"CLI TOOL":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Prompt and ChatId","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Check Approval","type":"main","index":0}]]},"Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Gemini flash":{"ai_languageModel":[[{"node":"Output Parser","type":"ai_languageModel","index":0}]]},"Check Approval":{"main":[[{"node":"Approval Message","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Approval Message":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Message","type":"main","index":0}],[{"node":"Message","type":"main","index":0}],[{"node":"Message","type":"main","index":0}]]},"Prompt and ChatId":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"69500707-bf90-416b-ab4b-3a7e8c949d06","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-11T16:53:48.289Z","updatedAt":"2025-11-11T16:53:48.289Z","role":"workflow:owner","workflowId":"cp1M3Qbgm9nIbE1M","projectId":"sIGDlyQus7cLqKRT","project":{"createdAt":"2025-10-26T15:44:42.030Z","updatedAt":"2025-11-01T08:16:56.243Z","id":"sIGDlyQus7cLqKRT","name":"PRATHAM N GUNDIKERE <prathamngundikere@proton.me>","type":"personal","icon":null,"description":null}}]}