n8n-workflows/eqyeHrxkjjKudAHS.json
{"createdAt":"2026-01-07T15:37:17.435Z","updatedAt":"2026-01-07T15:41:26.000Z","id":"eqyeHrxkjjKudAHS","name":"GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[-944,32],"typeVersion":1,"id":"29ea6a63-8232-4234-8f13-cc8b943a4b36"},{"parameters":{"functionCode":"const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;"},"name":"dataArray","type":"n8n-nodes-base.function","position":[-496,176],"typeVersion":1,"id":"6e57ee47-15e8-401c-97e5-627f7c3bc40f"},{"parameters":{"url":"http://localhost:8443/rest/workflows","options":{}},"name":"N8N Workflows","type":"n8n-nodes-base.httpRequest","position":[-640,176],"typeVersion":1,"id":"af60b6b9-6ed5-4f9f-9824-266cec881476"},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"name":"GitHub","type":"n8n-nodes-base.github","position":[-144,0],"typeVersion":1,"alwaysOutputData":true,"id":"eb1d54de-f0f7-4cf9-952b-cc7273368620","webhookId":"b6dbaf32-fdca-4781-94f6-c86beddb94fb","credentials":{"githubApi":{"id":null,"name":"GitHub"}},"continueOnFail":true},{"parameters":{},"name":"Merge","type":"n8n-nodes-base.merge","position":[64,176],"typeVersion":1,"id":"bbedb243-7c86-489b-b176-e8a51fa706c9"},{"parameters":{"url":"=http://localhost:8443/rest/workflows/{{$json[\"id\"]}}","options":{}},"name":"N8N Workflow Detail","type":"n8n-nodes-base.httpRequest","position":[-144,336],"typeVersion":1,"id":"b3f1fc19-4afb-4703-9cb1-112c6d63d1e4"},{"parameters":{"dataType":"string","value1":"={{$json[\"github_status\"]}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"name":"github_status","type":"n8n-nodes-base.switch","position":[368,176],"typeVersion":1,"id":"d6207832-63ea-4900-8d64-05c9ff991191"},{"parameters":{},"name":"same","type":"n8n-nodes-base.noOp","position":[560,0],"typeVersion":1,"id":"d99f0b02-bcc1-43a9-b134-6f9426c61267"},{"parameters":{},"name":"different","type":"n8n-nodes-base.noOp","position":[560,176],"typeVersion":1,"id":"3b0be88e-fa45-48e9-9ae6-b22095ec9e21"},{"parameters":{},"name":"new","type":"n8n-nodes-base.noOp","position":[560,336],"typeVersion":1,"id":"19139020-d310-453b-bff9-a8c6069049b1"},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json","fileContent":"={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}","commitMessage":"=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json ({{$json[\"github_status\"]}})"},"name":"GitHub Edit","type":"n8n-nodes-base.github","position":[768,64],"typeVersion":1,"id":"7d74c5bf-9bff-4242-99e2-d276f7aee0b2","webhookId":"05a18c4b-bbcc-4950-87fc-b6580c35c7d6","credentials":{"githubApi":{"id":null,"name":"GitHub"}}},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json","fileContent":"={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}","commitMessage":"=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json ({{$json[\"github_status\"]}})"},"name":"GitHub Create","type":"n8n-nodes-base.github","position":[768,336],"typeVersion":1,"id":"8c82e785-a8fa-4a74-96b7-ce3241ea44c5","webhookId":"4ac8dbe1-a860-4f8e-b183-db1e8e9cc6f2","credentials":{"githubApi":{"id":null,"name":"GitHub"}}},{"parameters":{"functionCode":"// File Returned with Content\nif (Object.keys(items[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = eval(\"(\"+Buffer.from(items[0].json.content, 'base64').toString()+\")\");\n  var n8nWorkflow = (items[1].json.data);\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    items[0].json.github_status = \"same\";\n    items[0].json.content_decoded = orderedOriginal;\n  } else {\n    items[0].json.github_status = \"different\";\n    items[0].json.content_decoded = orderedOriginal;\n    items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = (items[1].json.data);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  items[0].json.github_status = \"new\";\n  items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn items;"},"name":"isDiffOrNew","type":"n8n-nodes-base.function","position":[208,176],"typeVersion":1,"id":"5d09ecfe-b918-4694-9e8b-87abf6791c85"},{"parameters":{"triggerTimes":{"item":[{"hour":20,"minute":11}]}},"name":"Daily @ 20:00","type":"n8n-nodes-base.cron","position":[-944,320],"typeVersion":1,"id":"3de77a63-f6eb-4317-ba21-3134294ae6fa"},{"parameters":{"batchSize":1,"options":{}},"name":"OneAtATime","type":"n8n-nodes-base.splitInBatches","position":[-352,176],"typeVersion":1,"id":"e30ed4db-efbe-4f12-986f-5911fdcb23a1"},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"prathamngundikere"},{"name":"repo.name","value":"NDAS"},{"name":"repo.path","value":"n8n/workflows/"}]},"options":{}},"name":"Globals","type":"n8n-nodes-base.set","position":[-800,176],"typeVersion":1,"id":"08866fbd-ab57-477b-9592-36d68389c95c"}],"connections":{"new":{"main":[[{"node":"GitHub Create","type":"main","index":0}]]},"same":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"Merge":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Globals":{"main":[[{"node":"N8N Workflows","type":"main","index":0}]]},"dataArray":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"different":{"main":[[{"node":"GitHub Edit","type":"main","index":0}]]},"OneAtATime":{"main":[[{"node":"GitHub","type":"main","index":0},{"node":"N8N Workflow Detail","type":"main","index":0}]]},"GitHub Edit":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"github_status","type":"main","index":0}]]},"Daily @ 20:00":{"main":[[{"node":"Globals","type":"main","index":0}]]},"GitHub Create":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"N8N Workflows":{"main":[[{"node":"dataArray","type":"main","index":0}]]},"github_status":{"main":[[{"node":"same","type":"main","index":0}],[{"node":"different","type":"main","index":0}],[{"node":"new","type":"main","index":0}]]},"N8N Workflow Detail":{"main":[[{"node":"Merge","type":"main","index":1}]]},"On clicking 'execute'":{"main":[[{"node":"Globals","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ab8e93fb-7d34-4840-90cd-b5bf49b331f3","triggerCount":0,"tags":[],"shared":[{"createdAt":"2026-01-07T15:37:17.452Z","updatedAt":"2026-01-07T15:37:17.452Z","role":"workflow:owner","workflowId":"eqyeHrxkjjKudAHS","projectId":"sIGDlyQus7cLqKRT","project":{"createdAt":"2025-10-26T15:44:42.030Z","updatedAt":"2025-11-01T08:16:56.243Z","id":"sIGDlyQus7cLqKRT","name":"PRATHAM N GUNDIKERE <prathamngundikere@proton.me>","type":"personal","icon":null,"description":null}}]}